<div class="container">
    <div class="row">
        <div class="col">
            <h1>The authors</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-10">
            <h3>Guillem Amat</h3>
            <p>Business Administration graduate from ESADE and MS in Data Science student at Duke University with a strong international background and over two years of experience as a management consultant. I have worked in projects across industries (pharmaceuticals, government, finance and infrastructure) and regions (NA, DACH, UK&I and MENA) with a clear focus on applying advanced analytics in operational and strategic consulting engagements. </p>
        </div>
        <div class="col-lg-5 col-md-2">
            <img  src="../../assets/GuillemProfile.jfif" alt="image" height="160">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-10">
            <h3>Sebastian Soriano</h3>
            <p>Data scientist and industrial engineer with extensive international experience. Experience in Python (numpy, pandas, scikit-learn), R, SQL and Javascript. I have more than four years of experience working in the banking sector in Latin America (Mexico, Ecuador and Uruguay). I have developed excellent technical and management skills for web development teams.

                I have worked in the development of online banking products and for credit origination as a functional leader and front end developer for institutions in Mexico and Ecuador. I am currently studying a master's degree in Data Science at Duke University.</p>
        </div>
        <div class="col-lg-5 col-md-2">
            <img  src="../../assets/SebastianProfiel.jfif" alt="image" height="160">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-10">
            <h3>Julio Portella</h3>
            <p>Healthcare data scientist and informatician in development. 3+ years in software development experience and database development. Passionate in data science application in healthcare. Good teamwork skills and analytical skills, specially for finding trends in data</p>
        </div>
        <div class="col-lg-5 col-md-2">
            <img  src="../../assets/JulioProfile.jfif" alt="image" height="160">
        </div>
    </div>
</div>
