<div class="container">
    <div class="row">
        <div class="col">
            <h1></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h3>Back-end</h3>
            <p>Full python, using pytorch on the neural network and flask for the connection</p>
        </div>
        <div class="col-lg-2 col-md-2">
            <img  src="../../assets/GithubIcon.png" (click)="goToUrlBack()" alt="image" height="160">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h3>Front-end</h3>
            <p>Powered by Angular, the front-end is allowed</p>
        </div>
        <div class="col-lg-2 col-md-2">
            <img  src="../../assets/GithubIcon.png" (click)="goToUrlFront()" alt="image" height="160">
        </div>
    </div>
</div>
